nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') Nicole A
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/') Developer
      li
        a(href='/about') Designer
      li
        a(href='/needs') Dancer
